body{
    font-size: 22px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.5;
   background-color: bisque;
   color: darkmagenta;
}
 
h2{
    border: 2px dashed red;
    width: 50%;
    font-size: 2rem;
    padding: 0.5rem;
}

.circle{
    width: 100px;
    height: 100px;
    background-color: #ffa500;
    border: 2px solid maroon;
    border-radius: 50%;
    outline: 1px solid blue;
    
    outline-offset: 1px;
}