body{
    padding: 5% 10%;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ol{
    list-style-type:lower-alpha; /*refer html*/
}

ul{
    list-style-type: square;
    list-style-position: inside;
    text-align: justify;
    color: fuchsia;
    /* list-style-image: url("image.png");
*/
/* list-style: square url("image.png") inside; */

}
ul li:nth-child(3){
    color:coral;
    list-style-type:disc;
}

ol li:nth-child(odd){
    color: brown;
}
ul ::marker{
    color: red;
    font-family: fantasy;
    font-size: 1em;
    content:">>"
}